In [4]:
import pandas as pd

In [25]:
df_kan = pd.read_csv('data/Wafer_grid_search_results_with_f1.csv')

In [27]:
df_kan.mean_test_score.std()

0.25586833524490116

In [28]:
df_kan

,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split0_f1_score,split1_f1_score,split2_f1_score,split3_f1_score,split4_f1_score,mean_test_score,std_test_score,mean_f1_score,std_f1_score,rank_test_score
0,"N=8, G=10, K=5",0.995,1.0,1.0,1.0,1.000,0.994943,1.000000,1.000000,1.000000,1.000000,0.999,0.002000,0.998989,0.002023,1.0
1,"N=8, G=50, K=3",0.995,1.0,1.0,1.0,1.000,0.994943,1.000000,1.000000,1.000000,1.000000,0.999,0.002000,0.998989,0.002023,1.0
2,"N=8, G=50, K=5",0.995,1.0,1.0,1.0,1.000,0.994943,1.000000,1.000000,1.000000,1.000000,0.999,0.002000,0.998989,0.002023,1.0
3,"N=8, G=100, K=7",0.995,1.0,1.0,1.0,0.995,0.994943,1.000000,1.000000,1.000000,0.994943,0.998,0.002449,0.997977,0.002478,4.0
4,"N=9, G=5, K=3",0.995,1.0,1.0,1.0,0.995,0.994943,1.000000,1.000000,1.000000,0.994943,0.998,0.002449,0.997977,0.002478,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,"N=5, G=100, K=3",0.100,0.1,0.1,0.1,0.100,0.018182,0.018182,0.018182,0.018182,0.018182,0.100,0.000000,0.018182,0.000000,154.0
158,"N=2, G=100, K=3",0.100,0.1,0.1,0.1,0.100,0.018182,0.018182,0.018182,0.018182,0.018182,0.100,0.000000,0.018182,0.000000,154.0
159,"N=1, G=100, K=3",0.100,0.1,0.1,0.1,0.100,0.018182,0.018182,0.018182,0.018182,0.018182,0.100,0.000000,0.018182,0.000000,154.0
160,"N=8, G=100, K=3",0.100,0.1,0.1,0.1,0.100,0.018182,0.018182,0.018182,0.018182,0.018182,0.100,0.000000,0.018182,0.000000,154.0
161,"N=3, G=100, K=3",0.100,0.1,0.1,0.1,0.100,0.018182,0.018182,0.018182,0.018182,0.018182,0.100,0.000000,0.018182,0.000000,154.0

In [22]:
df_kan.loc[df_kan['mean_test_score'].idxmin()]

params               N=4, G=100, K=3
split0_test_score                0.1
split1_test_score                0.1
split2_test_score                0.1
split3_test_score                0.1
split4_test_score                0.1
split0_f1_score             0.018182
split1_f1_score             0.018182
split2_f1_score             0.018182
split3_f1_score             0.018182
split4_f1_score             0.018182
mean_test_score                  0.1
std_test_score                   0.0
mean_f1_score               0.018182
std_f1_score                     0.0
rank_test_score                154.0
Name: 153, dtype: object